<div class="titleCard">
    <h1 class="title">CONTACT</h1>
</div>
<div class="wrapper">
    <div class="imageWrapper">
        <img class="image" src="assets/about/aboutFoto.jpg">
    </div>
    <div class="text">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati voluptas dolores molestias quasi consequuntur expedita! At sed, veniam eos quaerat ad voluptatum quas, libero ullam cum quod cumque, aliquid perspiciatis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus odio et iusto omnis deserunt praesentium maxime aliquid voluptatibus! Minus cumque possimus minima quas iure exercitationem sapiente labore debitis? Nemo, voluptatibus.</p>
        <div class="contact">
            <a><span>email</span></a>
            <a><span>linkedIn</span></a>
            <a><span>telefoon</span></a>
        </div>
    </div>
</div>
