.header
{
    width: 100vw;
    height: 50px;
    background-color: white;
    margin: 0;
    position: fixed;
    z-index: 50;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

span
{
    text-align: center;
    height: min-content;
}

.wrapper
{
    width: 100vw;
    z-index: -100;
}