.container
{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0; 
   
}

app-video
{
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    overflow: hidden;
    margin: 1.66%;
    /* border: white solid 10px;
    box-sizing: border-box; */
}

#videoContainerPage
{
    /* width: 100%;
    margin-left: auto;
    margin-right: auto; */
}



h3{
    margin-top:0;
}