
<div #wrapper id="wrapper" class="wrapper">
    <div #loading class="loadingWrapper">
        <div  class="spinner-border loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <video #video class="video" [muted]="true" loop></video>
    <div tabindex="0" (focus)="focus()"  (mouseenter)="focus()" (keydown)=openOverlayKeyboard($event) (mouseleave)="blur()" (click)="openOverlay()" #overlay class="overlay">
            <div class="text">
                    <p>{{title}}</p>
                    <p>{{description}}</p>
                <a class="ytLink" target="_blank" href="https://www.youtube.com/?hl=nl"><img class="yt" src="assets/yt.svg"></a>
            </div>
    </div>
    
</div>

