.nav
{
    padding: 0 0.5rem;
}

.links
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


img{
    width: 15%;
    margin-left: 2%;
    margin-right: -5%;
    position: relative;
    
}

img:hover
{
    cursor: pointer;
}


.link{

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.navbar-nav.center
{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}


.negMargin
{
    margin-right: -200px;
}
