<!-- <div class="nav">
        
        <div class="links">
            <div class="link">
                <a [routerLink]="['../film']">film</a>
            </div>
            <div class="link">
                <a [routerLink]="['../albums']">photo</a>
            </div>
            <div class="link">
                <a>contact/about</a>
            </div>
        </div>
</div> -->
<nav class="navbar navbar-expand-lg gray nav">
    <a (click)="reset()" class="navbar-brand negMargin" [routerLink]="['../home']">
        <img src="assets/merelLogo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-around center">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['../film']"  (click)="active($event)">film</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['../foto']"  (click)="active($event)">foto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['../about']"  (click)="active($event)">contact/about</a>
        </li>
      </ul>
    </div>
  </nav>
