*
{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body
{
    background-image: url(assets/achtergrond2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
