<div class=background>
    <div class="title">
        <h1>Merel Matthys</h1>
    </div>
    <div class="photo">
          <ngb-carousel [keyboard]="false" [pauseOnHover]="false" [showNavigationArrows]="false" [showNavigationIndicators]="false" [wrap]="true">
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/homeSlideshow/bewerking-12.jpg">
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/homeSlideshow/bewerking-13.jpg">
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/homeSlideshow/bewerking-14.jpg">
                  </div>
              </ng-template>
          </ngb-carousel>

    </div>
    
</div>

