<div class=background>
    <div class="title">
        <h1>Merel Matthys</h1>
    </div>
    <div class="photo">
          <div class="carousel slide carousel-fade" data-wrap="true" data-interval="7000" data-keyboard="false" data-pause="false" data-ride="carousel">
            <div class="carousel-inner">
              <div #carouselItem *ngFor="let item of images" class="carousel-item">
                <img #carouselImage [src]="item" class="d-block w-100 carouselImage" />
              </div>
            </div>
          </div>
    </div>
    <span class="copyright">
      &#169; Adam Vromman
    </span>
    
</div>


